### This is Python Revision

In [1]:
# This is a comment line and would not print
print ("This is the Data Analytics Track")
print('Tis one uses single quotation')

This is the Data Analytics Track
Tis one uses single quotation

In [2]:
# performing calculations in jupyter
a = 56
b = 678
c = 5987
add = a+b+c # we are adding here
mul = b*c # we are multiplying here
div = (a*b)/c # we are dividing here
print(add)
print(mul)
print(div)

6721
4059186
6.341740437614832

In [3]:
x = 15
y = 20
z = 10
result = x+y+z
anotherresult = str(result)
print('The sum of the numbers are'+ anotherresult)

The sum of the numbers are45

In [4]:
var1 = 50
var2 = 100
var3 = 200
sum = var1+var2+var3
prod = var1*var2
div = var1+var2/var3
print(sum)
print(prod)
print(div)

350
5000
50.5

In [5]:
value1 = 300
value2 = 900
value3 = 1200
result = value3>value2
anotherresult = value3/value1
print(result)
print(anotherresult)

True
4.0

In [6]:
one = int(input('Number' ))
two = int(input('Number'))
three = int(input('Nunber'))
if(one>two and two>three)
        print(one)
elif(two>one>three)
        print(two)
else:
        print(three)

SyntaxError: invalid syntax (<ipython-input-6-5d7aaf199a87>, line 4)

In [ ]:
# comparing values in two variables
value1 = 67
value2 = 12
result = value1 < value2
print(result)

In [ ]:
print("beginning of program")
print("enter your salary") 
salary=int(input())
print("enter years of services")
services=int(input())
if (services>5):
    print("your bonus is",5 *salary)
else:
    print("no bonus")
print("end of program")

 ###You are in an aunction , where a car is to be sold. The bid agreed minimum bid for the car is # 500000. Write a program that considers four bids and declares the highest bid and announces that the car is sold to the highest bidder

In [ ]:
#print("The program begins")

print("The name of the car is")
car= (input())
print("number of bid")
bid=int(input())
if (bid>=5000000):
    print ("you are the one with the highest bib" ,"car")
elif(bid>=400000):
    print("your the second rouner up")
elif(bid>=300000):
    print("your the second rouner up")
elif(bid>=50000):
    print("your the second rouner up")
else:
    print("your welcome to try again")

In [ ]:
print("The auction begins")
bid1 = int (input("My offer is :"))
bid2 = int (input("My offer is :"))
bid3 = int(input("My offer is :"))
bid4 = int(input("My offer is :"))
if(bid1<500000):
    print("upgrade your bid")
elif(bid2<500000):
    print("You need to upgrade more")
elif(bid3<500000):
    print("more chance to upgrade")
else:
    print("you have won")

In [ ]:
mybirds = ["parrot","sparrow","crow","eagle"]
mybirds.insert(1,'crow')
mybirds

In [ ]:
 # dataText = read("names_ages.txt","r")
# dataText
myFile = open("names_ages.txt","r")
print(myFile.read())

In [13]:
import pandas as pd
import numpy as np

In [14]:
Abujabranch = pd.read_csv(r"C:\Users\Mbuotidem urom\Documents\DATASETS\Abuja_Branch.csv")
Abujabranch

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,692-92-5582,B,Abuja,Member,Female,Food and beverages,19742.4,3,2961.36,62188.56,2/20/2019,13:27,Card,59227.2,4.761905,2961.36,5.9
1,351-62-0822,B,Abuja,Member,Female,Fashion accessories,5212.8,4,1042.56,21893.76,2/6/2019,18:07,Epay,20851.2,4.761905,1042.56,4.5
2,529-56-3974,B,Abuja,Member,Male,Electronic accessories,9183.6,4,1836.72,38571.12,3/9/2019,17:03,Cash,36734.4,4.761905,1836.72,6.8
3,299-46-1805,B,Abuja,Member,Female,Sports and travel,33739.2,6,10121.76,212556.96,1/15/2019,16:19,Cash,202435.2,4.761905,10121.76,4.5
4,319-50-3348,B,Abuja,Normal,Female,Home and lifestyle,14508.0,2,1450.80,30466.80,3/11/2019,15:30,Epay,29016.0,4.761905,1450.80,4.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,552-44-5977,B,Abuja,Member,Male,Health and beauty,22320.0,8,8928.00,187488.00,1/3/2019,19:08,Card,178560.0,4.761905,8928.00,6.2
328,430-53-4718,B,Abuja,Member,Male,Health and beauty,27133.2,8,10853.28,227918.88,1/28/2019,15:46,Card,217065.6,4.761905,10853.28,8.4
329,602-16-6955,B,Abuja,Normal,Female,Sports and travel,27576.0,10,13788.00,289548.00,1/24/2019,18:10,Epay,275760.0,4.761905,13788.00,6.0
330,690-01-6631,B,Abuja,Normal,Male,Fashion accessories,6296.4,10,3148.20,66112.20,2/22/2019,18:35,Epay,62964.0,4.761905,3148.20,6.6
331,303-96-2227,B,Abuja,Normal,Female,Home and lifestyle,35056.8,10,17528.40,368096.40,3/2/2019,17:16,Epay,350568.0,4.761905,17528.40,4.4

In [19]:
Abujabranch.rename(columns = {'City':'Town'},inplace=True)
Abujabranch.head()

,Invoice ID,Branch,Town,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,692-92-5582,B,Abuja,Member,Female,Food and beverages,19742.4,3,2961.36,62188.56,2/20/2019,13:27,Card,59227.2,4.761905,2961.36,5.9
1,351-62-0822,B,Abuja,Member,Female,Fashion accessories,5212.8,4,1042.56,21893.76,2/6/2019,18:07,Epay,20851.2,4.761905,1042.56,4.5
2,529-56-3974,B,Abuja,Member,Male,Electronic accessories,9183.6,4,1836.72,38571.12,3/9/2019,17:03,Cash,36734.4,4.761905,1836.72,6.8
3,299-46-1805,B,Abuja,Member,Female,Sports and travel,33739.2,6,10121.76,212556.96,1/15/2019,16:19,Cash,202435.2,4.761905,10121.76,4.5
4,319-50-3348,B,Abuja,Normal,Female,Home and lifestyle,14508.0,2,1450.80,30466.80,3/11/2019,15:30,Epay,29016.0,4.761905,1450.80,4.4

In [15]:
Lagosbranch = pd.read_csv(r"C:\Users\Mbuotidem urom\Documents\DATASETS\Lagos_Branch.csv")
Lagosbranch

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Lagos,Member,Female,Health and beauty,26888.4,7,9410.94,197629.74,1/5/2019,13:08,Epay,188218.8,4.761905,9410.94,9.1
1,631-41-3108,A,Lagos,Normal,Male,Home and lifestyle,16678.8,7,5837.58,122589.18,3/3/2019,13:23,Card,116751.6,4.761905,5837.58,7.4
2,123-19-1176,A,Lagos,Member,Male,Health and beauty,20959.2,8,8383.68,176057.28,1/27/2019,20:33,Epay,167673.6,4.761905,8383.68,8.4
3,373-73-7910,A,Lagos,Normal,Male,Sports and travel,31071.6,7,10875.06,228376.26,2/8/2019,10:37,Epay,217501.2,4.761905,10875.06,5.3
4,355-53-5943,A,Lagos,Member,Female,Electronic accessories,24782.4,6,7434.72,156129.12,2/25/2019,14:36,Epay,148694.4,4.761905,7434.72,5.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,886-18-2897,A,Lagos,Normal,Female,Food and beverages,20361.6,5,5090.40,106898.40,3/22/2019,19:06,Card,101808.0,4.761905,5090.40,4.5
336,745-74-0715,A,Lagos,Normal,Male,Electronic accessories,20890.8,2,2089.08,43870.68,3/10/2019,20:46,Epay,41781.6,4.761905,2089.08,8.8
337,727-02-1313,A,Lagos,Member,Male,Food and beverages,11462.4,1,573.12,12035.52,2/9/2019,13:22,Cash,11462.4,4.761905,573.12,7.7
338,347-56-2442,A,Lagos,Normal,Male,Home and lifestyle,23695.2,1,1184.76,24879.96,2/22/2019,15:33,Cash,23695.2,4.761905,1184.76,4.1
339,849-09-3807,A,Lagos,Member,Female,Fashion accessories,31802.4,7,11130.84,233747.64,2/18/2019,13:28,Cash,222616.8,4.761905,11130.84,6.6

In [16]:
Portharcourtbranch = pd.read_csv(r"C:\Users\Mbuotidem urom\Documents\DATASETS\Port_Harcourt_Branch.csv")
Portharcourtbranch

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,226-31-3081,C,Port Harcourt,Normal,Female,Electronic accessories,5500.8,5,1375.20,28879.20,3/8/2019,10:29,Cash,27504.0,4.761905,1375.20,9.6
1,699-14-3026,C,Port Harcourt,Normal,Male,Electronic accessories,30740.4,7,10759.14,225941.94,3/25/2019,18:30,Epay,215182.8,4.761905,10759.14,4.1
2,315-22-5665,C,Port Harcourt,Normal,Female,Home and lifestyle,26481.6,10,13240.80,278056.80,2/24/2019,11:38,Epay,264816.0,4.761905,13240.80,8.0
3,300-71-4605,C,Port Harcourt,Member,Male,Electronic accessories,30974.4,5,7743.60,162615.60,2/25/2019,11:24,Epay,154872.0,4.761905,7743.60,4.8
4,183-56-6882,C,Port Harcourt,Member,Female,Food and beverages,35791.2,4,7158.24,150323.04,2/6/2019,10:42,Epay,143164.8,4.761905,7158.24,7.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323,148-41-7930,C,Port Harcourt,Normal,Male,Health and beauty,35985.6,7,12594.96,264494.16,1/23/2019,10:33,Cash,251899.2,4.761905,12594.96,6.1
324,189-40-5216,C,Port Harcourt,Normal,Male,Electronic accessories,34693.2,7,12142.62,254995.02,1/9/2019,11:40,Cash,242852.4,4.761905,12142.62,6.0
325,267-62-7380,C,Port Harcourt,Member,Male,Electronic accessories,29642.4,10,14821.20,311245.20,3/29/2019,19:12,Epay,296424.0,4.761905,14821.20,4.3
326,652-49-6720,C,Port Harcourt,Member,Female,Electronic accessories,21942.0,1,1097.10,23039.10,2/18/2019,11:40,Epay,21942.0,4.761905,1097.10,5.9
327,233-67-5758,C,Port Harcourt,Normal,Male,Health and beauty,14526.0,1,726.30,15252.30,1/29/2019,13:46,Epay,14526.0,4.761905,726.30,6.2

In [25]:
Food_Bev = Abujabranch[Abujabranch["Product line"]=="Food and beverages"]
Food_Bev.head(10)

,Invoice ID,Branch,Town,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,692-92-5582,B,Abuja,Member,Female,Food and beverages,19742.4,3,2961.36,62188.56,2/20/2019,13:27,Card,59227.2,4.761905,2961.36,5.9
8,145-94-9061,B,Abuja,Normal,Female,Food and beverages,31809.6,5,7952.40,167000.40,1/25/2019,19:48,Cash,159048.0,4.761905,7952.40,9.6
17,727-46-3608,B,Abuja,Member,Female,Food and beverages,7203.6,9,3241.62,68074.02,2/6/2019,15:47,Epay,64832.4,4.761905,3241.62,4.1
24,510-95-6347,B,Abuja,Member,Female,Food and beverages,17467.2,3,2620.08,55021.68,3/5/2019,18:17,Epay,52401.6,4.761905,2620.08,4.0
25,847-38-7188,B,Abuja,Normal,Female,Food and beverages,34804.8,3,5220.72,109635.12,1/26/2019,19:56,Epay,104414.4,4.761905,5220.72,6.4
49,548-46-9322,B,Abuja,Normal,Male,Food and beverages,14364.0,10,7182.00,150822.00,2/20/2019,15:24,Card,143640.0,4.761905,7182.00,5.9
51,316-55-4634,B,Abuja,Member,Male,Food and beverages,28818.0,5,7204.50,151294.50,1/26/2019,12:45,Card,144090.0,4.761905,7204.50,9.4
53,414-12-7047,B,Abuja,Normal,Male,Food and beverages,7124.4,8,2849.76,59844.96,1/18/2019,12:04,Epay,56995.2,4.761905,2849.76,8.7
54,895-66-0685,B,Abuja,Member,Male,Food and beverages,6508.8,3,976.32,20502.72,3/5/2019,19:46,Epay,19526.4,4.761905,976.32,8.0
70,790-29-1172,B,Abuja,Normal,Female,Food and beverages,20642.4,3,3096.36,65023.56,3/10/2019,18:59,Card,61927.2,4.761905,3096.36,7.9

In [ ]:
high_Buyers = Abujabranch[Abujabranch]

In [17]:
exFile = pd.ExcelFile("Bookshop.xlsx")
books = exFile.parse('Book')

books

   BookID                                              Title AuthID
0   BB194                                      Ballinby Boys  AM329
1   NC652                                 Nothing But Capers  AS443
2   AD222                               Alanna Saves the Day  BH149
3   PA169                                         Post Alley  BM856
4   TC188                                 Thatchwork Cottage  BM856
5   ZT703                                   Zero over Twelve  BM856
6   PP866                                        Portmeirion  BT132
7   RR774                                           Rystwyth  BT132
8   TM925                                  The Mallemaroking  BT132
9   CH391                                   Can I Be Honest?  CF829
10  NL209                                  No More Lightning  CF829
11  NR695                          9803 North Millworks Road  CS190
12  TH296                The Winchcombe Railway Museum Heist  CS190
13  MM424                                      (im)Mortality  CW626
14  TP887  the life and times of an utterly inconsequenti...  DB605
15  LS176                               Land Water Sky Space  EH487
16  AY135                                     And I Said Yes  EK605
17  IA439                               Interrobangs for All  EK605
18  KA663                                   Kalakalal Avenue  EK605
19  BF889                Banana Slug and the Glass Half Full  GG800
20  NB483                                 Not to Gossip, But  GG800
21  TI225                                       The Thing Is  GG800
22  CP573                                Concerning Prophecy  GH671
23  BC244                       Banana Slug and the Lost Cow  HB302
24  BF374                        Banana Slug and Xyr Friends  HB302
25  CC830                                           Cimornul  JH502
26  QQ737                              Quiddity and Quoddity  JH502
27  TH556                    The Startling End of Mr. Hidhoo  JK592
28  SS693                                  Say it with Snap!  JS525
29  TH143                                 The Elephant House  JS525
30  AM124      A Horrible Human with the Habits of a Monster  KD840
31  TT359                        Turn Left Til You Get There  KE397
32  DR914                                    Dust on the Rim  KY296
33  TC401                               Tales of the Compass  KY296
34  BS284                                   Burnished Silver  LD375
35  DY800                                      Did You Hear?  LD375
36  LB510                                    Lace and Brandy  LD375
37  MW621                                       Muddy Waters  LD375
38  SE355                                         Saint Esme  LD375
39  TO369                               The Scent of Oranges  LD375
40  TS869                                 The Seawitch Sings  LD375
41  WG715                                 Whither Thou Goest  LD375
42  SS361                            Some Eggs or Something?  LK915
43  HS107                               Hashtag QuokkaSelfie  LL585
44  IG460                            It's Never Just a Glass  LN356
45  BR858                     Banana Slug and the Mossy Rock  MW974
46  HP265                                 Heliotrope Pajamas  MW974
47  IC739                 Inconvenient Confessions: a memoir  OL640
48  WK456                Who Did You Think You Were Kidding?  PA878
49  NP937                               Natural Pamplemousse  PB147
50  WO506         We're Sisters and We Kinda Like Each Other  PH273
51  DE571                               Don't Check your Ego  RL217
52  ST303                                Soft, Pliable Truth  RP438
53  ST862                                  She Also Tottered  RP438
54  TA182                            The Spark and The Ashes  UK129
55  TT773                                     The Triscanipt  UK129
56  AK974                                 Adventures of Kaya  WH901
57  DG384                                      The Deep Grey  RM781

In [28]:
import matplotlib.pyplot as plt
# let us define some data points
time = (1.00,1.23,2.30,3.50.4.45,5.22,6.0)
# let us define the amount someone makes per this times
moneyMade = (20,35,102,220,320,500)
# plotting the wave
plt.plot(time,moneyMade)

SyntaxError: invalid syntax (<ipython-input-28-beac03f6628e>, line 3)

In [18]:
books.describe()

       BookID                 Title AuthID
count      58                    58     58
unique     58                    58     34
top     NL209  Interrobangs for All  LD375
freq        1                     1      8